:root {
  --header-text-color: #ffffff;
  --first-btn-color: #ffffff;
  --second-btn-color: #303030;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --first-text-color: #303030;
  --accent-color: #ff6c00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

/*----------------- HEADER----------------- */

.header {
  background-color: gray;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.logo {
  margin-right: 73px;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-item + .header-item {
  margin-left: 40px;
}

.header-link {
  color: var(--header-text-color);
}

.header-connect {
  margin-left: auto;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link-tel {
  color: var(--header-text-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
  margin-left: 40px;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  height: 40px;
}

.header-btn:hover,
.header-btn:focus {
  color: var(--first-btn-color);
}

.current {
  color: var(--accent-color);
}

/*----------------- HERO----------------- */

.hero {
}

.hero-container {
  display: flex;
}

.hero-right {
  background-color: gray;
  flex-grow: 1;
  padding: 272px 0 206px 96px;
}

.hero-list {
  width: 93px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--first-text-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/*----------------- ABouT----------------- */

.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.about-after-title {
  color: #555555;
  margin-bottom: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--second-btn-color);
}

.about-btn:hover,
.about-btn:focus {
  color: var(--accent-color);
}

/*----------------- PRICES----------------- */

.prices {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}

.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.prices-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--first-btn-color);
}

.prices-btn:hover,
.prices-btn:focus {
  color: var(--accent-color);
}

/*----------------- REASONS----------------- */

.reasons {
  padding-top: 121px;
  padding-bottom: 130px;
}

.reasons-count {
  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--first-text-color);
}

.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--first-text-color);
}

.reasons-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.reasons-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.reasons-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

/*----------------- MASTERS----------------- */

.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}

.masters-pre-title {
  color: var(--first-text-color);
  margin-bottom: 20px;
}

.masters-title {
  color: var(--first-text-color);
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
  flex-wrap: wrap;
}

.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  /* flex-basis: calc((100% - 90px) / 3); */
  margin-left: 30px;
  margin-bottom: 30px;
}

/* .masters-item + .masters-item {
  margin-left: 30px;
} */

.masters-item-content {
  padding-top: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*----------------- gallery----------------- */

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  color: var(--first-text-color);
  margin-bottom: 44px;
}
