.contact-wrap {
  background-color: #191c26;
  background-image: url(../images/online-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(100% / 2 - 15px);
  .container {
    display: flex;
  }
}
